.loginBox {
  width: 360px;
  height: 400px;
  padding: 20px;
  margin: 7% auto 0;
  box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.363);
}

.signinBox {
  width: 500px;
  height: 570px;
  padding: 20px;
  margin: 2% auto 0;
  box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.363);
}

.login-page {
  font-size: 17px;
  font-weight: 600;
}

.inputForm {
  border: none !important;
  border-bottom: 2px solid black !important;
  transition: 0.5s !important;
  overflow: hidden;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  outline: 0;
  border-color: black !important;
  box-shadow: none !important;
}

#profile_label {
  font-weight: 600;
}

.profile_pic_input {
  width: 70%;
  border: none;
}

.inputNameSection {
  display: flex;
  gap: 20px;
}

.button-box {
  width: 200px;
  margin: 30px auto;
  margin-bottom: 30px;
  position: relative;
  /* box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.163); */
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.toggle-btn {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  font-weight: 700;
  border: 0;
  outline: none;
  position: relative;
}

.move-btn {
  position: absolute;
  width: 100px;
  height: 35px;
  left: 5px;
  top: 5px;
  border: none;
  border-radius: 40px;
  /* background-color: rgba(143, 248, 213, 0.5); */
  background-color: antiquewhite;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.363);
  font-weight: 600;
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.righttoggle {
  transform: translateX(88%);
  transition: all 0.2s ease-in-out;
}

.login-btn {
  display: block;
  width: 50%;
  padding: 8px;
  position: relative;
  left: 70px;
  top: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  background-color: antiquewhite;
}

.signin-btn {
  display: block;
  width: 50%;
  padding: 8px;
  position: relative;
  left: 110px;
  top: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  background-color: antiquewhite;
}

.formpage {
  display: none;
}

.signupform {
  display: block;
}

.loginform {
  margin: 50px auto;
  display: block;
}

/*  verifyPhone  */

.verificationBox {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  margin: auto;
  margin-top: 97px;
  gap: 28px;
  box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.363);
}

.verifyBox {
  display: flex;
  gap: 10px;
}

.react-tel-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  width: 0 !important;
}

.verifyBtn {
  position: relative;
  left: 200px;
  border: none;
  background: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.tick_icon {
  position: relative;
  left: 210px;
  top: 6px;
  height: 20px;
  color: blue;
}

.phoneSubmitbtn {
  display: block;
  width: 50%;
  padding: 8px;
  position: relative;
  left: 90px;
  top: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  background-color: antiquewhite;
}
