.rightbar{
    /* flex: 2; */
    width: 20%;
}

.rightbarWrap{
    padding: 10px 10px 0 0;
}

.onlineheading{
    margin: 10px 0;
    font-weight: 700;
}

.onlineFriendList{
    padding: 0;
    list-style: none;
    margin: 0;
}


